.loggent__form {
  width: 400px;
  margin: 20px auto;
  float: left;
}

.loggent__cards {
  float: right;
  width: 70%;
}

.role {
  width: 250px;
  float: left;
  border: 1px solid #333;
  margin-left: -1px;
  margin-bottom: -1px;
  height: 300px;
  padding: 20px;

  &__index {
    border: 1px solid #333;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding-top: 1px;
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  &__title {
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 0;
  }
}
